.attribution {
    font-size: 0.6875rem;
    text-align: center;
    color: hsl(0, 0%, 35%);
}
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-family: "Inter", sans-serif;
}

main {
    background-color: hsl(0, 0%, 12%);
    max-width: 736px;
    padding: 45px;
    padding-bottom: 30px;
    border-radius: 15px;
    text-align: center;
}

img
{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

h1 {
    color: white;
    font-weight: 500;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 0;
}

h4 {
    color: hsl(75, 94%, 57%);
    font-size: 12.5px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
}

h1,h4{letter-spacing: 0.5px;}

p {
    color: white;
    font-size: 14px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 10px;
    align-items: center;
}

button {
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin-bottom: 15px;
    padding: 17px;
    font-weight: 600;
    border-radius: 9px;
    width: 310px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: none;
    letter-spacing: 0.5px;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}